<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p>
  <%= t('.correct') %> <%= @test_passage.correct_questions %> <%= t('.from') %> <%= @test_passage.test.questions.count %>.<br>
  <%= t('.percentage') %>:
  <span class="<%= @test_passage.successfull? ? 'success-test-passage' : 'failed-test-passage' %>">
    <%= @test_passage.success_percentage %>%
  </span>
</p>

<p><%= @test_passage.successfull? ? t('.success') : t('.failure') %></p>

<%= link_to t('.links.tests'), tests_path %>
