<%= form_with model: [:admin, @question, @answer], local: true do |form| %>
  <p>
    <%= form.label :Вопрос %>
    <%= form.text_area :body, id: :answer_body, rows: 6, cols: 50 %>
  </p>

  <p>
    <%= form.label :Верный %>
    <%= form.check_box :correct, id: :answer_correct %>
  </p>

  <p><%= form.submit button_text %></p>
<% end %>
