<p>
  <%= link_to test.title, admin_test_path(test) %> - (<%= t('.level') %>: <%= test.level %>, <%= t('.question', count: test.questions.count) %>)
  <nobr><%= link_to t('.links.edit'), edit_admin_test_path(test) %> |
    <%= link_to t('.links.destroy'), admin_test_path(test), data: { method: :delete } %></nobr>
</p>