<h1><%= t('.header', title: @test.title, level: @test.level) %></h1>

<h2><%= t('.questions') %></h2>

<%= render @test.questions %>
<%= link_to t('.links.edit'), edit_admin_test_path(@test) %> |
<%= link_to t('.links.new'), new_admin_test_question_path(@test) %> |
<%= link_to t('.links.back'), admin_tests_path %>