<div class="card my-3">
  <div class="card-body">
    <h2 class="card-title">
      <%= test.title %>
    </h2>

    <h6 class="card-subtitle mb-2 text-muted">
      (<%= t('.level') %>: <%= test.level %>, <%= t('.question', count: test.questions.count) %>)
    </h6>

    <%= button_to t('.buttons.start'), start_test_path(test), class: 'btn btn-info' %>
  </div>
</div>